@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --font-1: "Yeseva One", serif;
  --font-2: "Lobster", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body,
html {
  width: 100%;
  height: 100%;
}
.container {
  max-width: 75%;
  margin: 0 auto;
}
.btn {
  padding: 12px 38px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(255, 89, 89);
  border: 1px solid rgb(255, 89, 89);
  outline: none;
  color: white;
  border-radius: 5px;
  transition: background-color .3s ease;
}
.btn:hover {
  
  background-color: rgb(226, 226, 226);
  border: 1px solid rgb(0, 0, 0);
  color: black;
  border-radius: 5px;
}
.header-container {
  display: flex;
  height: 100vh;
}
.header-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.header-left-title {
  font-family: var(--font-1);
  font-size: 4.5vw;
  position: relative;
  padding-left: 20px;
}
.header-left-title::before {
  content: "";
  position: absolute;
  height: 75%;
  width: 5px;
  background-color: rgb(255, 89, 89);
  left: 0px;
  top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
}
.header-left-paragraph {
  font-size: 18px;
  font-weight: 400;
  width: 65%;
  color: rgb(62, 62, 62);
}
.header-span {
  font-family: var(--font-1);
  color: rgb(255, 173, 90);
}
.header-right {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-right img {
  max-width: 100%;
  height: auto;
  margin-bottom: 100px;
}
.header-left-btn {
  align-self: flex-start;
}
/*
*Section-1
*/
.section-1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 150px;
  height: 100vh;
}
.section-1-title {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: rgb(19, 16, 58);
}
.s-1-cards-container {
  display: flex;
  justify-content: space-between;
}
.s-1-card {
  width: 30%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 26px;
  transition: box-shadow 0.3s ease-in-out;
}
.s-1-card:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.2), -4px 4px 5px rgba(0, 0, 0, 0.2),
    4px -4px 5px rgba(0, 0, 0, 0.2), -4px -4px 5px rgba(0, 0, 0, 0.2);
}
.s-1-card-title {
  font-size: 24px;
  font-weight: 600;
}
.s-1-card-img {
  width: 100%;
}
.s-1-card-img img {
  width: 50%;
}
.c-1 {
  background-color: rgba(79, 157, 166, 0.1);
}
.c-2 {
  background-color: rgba(255, 89, 89, 0.1);
}
.c-3 {
  background-color: rgb(255, 244, 214);
}
/*
*Section-2
*/


.s-2-features-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.s-2-feature-1 {
  display: flex;
  gap: 80px;
  height: 100vh;
}

.s-2-feature-1-left {
  width: 35%;
  display: flex;
  justify-content: c;
  align-items: center;
}
.s-2-feature-1-left {
  position: relative;
}
.shape-1 {
  position: absolute;
  top: 70px;
  left: -110px;
  z-index: 0;
  width: 70%;
}
.feature-img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.s-2-feature-1-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.s-2-feature-1-right-btn {
  align-self: flex-start;
  padding: 10px 30px;
}
.s-2-feature-1-right-title {
  font-size: 36px;
  font-weight: 700;
}
/*--------------------------------------------------------------------------*/
.s-2-feature-2 {
  display: flex;
  gap: 80px;
  height: 100vh;
}

.s-2-feature-2-left {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-2-feature-2-left {
  position: relative;
}
.shape-2 {
  position: absolute;
  top: 190px;
  right: -110px;
  z-index: 0;
  width: 70%;
}
.feature-2-img {
  position: relative;
  z-index: 1;
  width: 100%;
}

.s-2-feature-2-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.s-2-feature-2-right-btn {
  align-self: flex-start;
  padding: 10px 30px;
}
.s-2-feature-2-right-title {
  font-size: 36px;
  font-weight: 700;
}
/*--------------------------------------------------------------------------*/
.section-3 {
  display: flex;
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  padding-top: 40px ;
 
}
.section-3 span {
  color: rgb(255, 173, 90);
}
.section-3-title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
}
.section-3-container {
  display: flex;
}
.section-3-left {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.s-3-img {
  width: 80%;
  position: relative;
  z-index: 1;
}
.shape-3 {
  position: absolute;
  width: 35%;
  top: -30px;
  left: 0;
  z-index: 0;
}
.shape-4 {
  position: absolute;
  width: 20%;
  bottom: 120px;
  right: 40px;
}
.shape-5 {
  position: absolute;
  width: 20%;
  bottom: 10px;
  left: 40px;
}

.section-3-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.s-3-right-title {
  font-size: 48px;
  font-weight: 700;
}
.s-3-right-btn {
  align-self: flex-start;
}

/*
*footer section
*/
footer {
  margin-top: 100px;
  height: 20%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer-title {
  font-family: var(--font-2);
  color: white;
  font-size: 36px;
  font-weight: 400;
}
.footer-span {
  font-family: var(--font-2);
  color: rgb(255, 89, 89);
}
.footer-paragraph {
  font-size: 14px;
  color: white;
}
